# Dependencias
node_modules/

# Archivos de configuración
.env

# Archivos de registro de NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Archivos generados por Docker
*docker-compose*.override.yml

# Archivos de paquetes
package-lock.json

# Sistema Operativo
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
.directory

# IDEs y editores
.vscode/
.idea/
*.iml
.sublime-workspace
*.swp
*.bak
*.tmp
*~
.history

# Archivos temporales o locales que pueden ser generados
/dist
/build
/out
/tmp
